{% extends 'base.html' %}


<html>
{% block content %}
<head>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
      document.addEventListener("DOMContentLoaded", function() {
      var num_divs = 5; // Cambiar por el número de divs que desees generar

      for (var i = 0; i < num_divs; i++) {
        var div = document.createElement("div");
        div.setAttribute("id", "div-" + i);
        div.innerHTML = "Contenido del div " + (i + 1);
        document.getElementById("contenedor-divs").appendChild(div);
      }

      var buttons = document.getElementsByTagName("button");
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function() {

          // Agregar aquí la lógica para manejar el clic del botón
        });
      }
    });
  </script>
</head>
<body>
<div class="container">

  <div class="row align-items-start">
    <div class="row">
        <div class="col rounded float-start  m-5"><h1 style="font-family: Arial Black; font-weight: bold; font-size: 60px; color: #b392ac; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">Concierto de {{ evento.nombre }}</h1></div>
      <div class="col rounded float-end"><img class="col rounded float-end m-5" src="{{ evento.imagen.url }}" height="230"/></div>
    </div>
  </div>

    <div class="row">

        <div class="col">
            <h3>Escoge una zona: </h3>
            <form method="get">
            {% for z in zonas %}
            <input type="radio" id="zona{{ forloop.counter }}" name="zona" value="{{ z.id }}" {% if zona == z.id %}checked{% endif %}>
            <label for="zona{{ forloop.counter }}">{{z.zona}} ({{z.precio}}€)</label><br>
            {% endfor %}
            <p></p>
            <button class="btn btn-info mb-3" type="submit">Ver asientos</button>
            </form>
            <div id="contenedor-divs"></div>

        </div>

        <div class="col">
          <div class="card">
          <div class="card-body" style="background-color: #b392ac;">

                <h5 class="card-subtitle">Fecha:</h5>
                <p>{{ evento.fecha_hora }}</p>
                <hr/>
                <p class="card-text">Sala: {{ evento.sala.nombre }}.</p>
                <hr/>
              {% if evento.disponibles == 0 %}
                <p class="alert alert-danger">Entradas no disponibles</p>
              {% else %}
                <p>Entradas disponibles: {{ evento.disponibles }} uds.</p>
                <form  enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label>Uds:</label>
                    <input type="number" name="unidades" max="{{ evento.disponibles }}">
                    <input name="" id="btn" class="btn btn-success" type="submit" value="Comprar">
                </form>
              {% endif %}
          </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>