{% extends 'base.html' %}
{% load i18n %}

<html>
{% block content %}
<head>
<style>
  #asientosDisponibles input[type='checkbox'] {
    display: none;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("dentro de la funcion");
    var arrayAsientos = document.querySelectorAll("#asientosDisponibles input[type='checkbox']");
    console.log(arrayAsientos);
    var unidades = document.getElementById("unidades");
    var uds = unidades.value;
    var price = document.getElementById("precio_entrada");
    var prc = document.getElementById("precio");
    var precioSt= price.value;
    var precioSt2 = precioSt.replace(',', '.');
    var precioFl = parseFloat(precioSt2);
    price.value = precioSt2;

    for (var i = 0; i < arrayAsientos.length; i++) {
      arrayAsientos[i].addEventListener('change', function() {
        if (this.checked) {
          console.log("dentro del if");
          uds = parseInt(uds) + 1;
          var prcFl = parseFloat(prc.value);
          prc.value = (prcFl +  precioFl).toFixed(2);
          unidades.value = parseInt(uds);
          imagen = this.nextElementSibling.setAttribute("src", "/main/imagenes/sillaSeleccionada.png");
        } else {
          uds = uds - 1;
          unidades.value = uds;
          var prcFl = parseFloat(prc.value);
          prc.value = (prcFl -  precioFl).toFixed(2);
          imagen = this.nextElementSibling.setAttribute("src", "/main/imagenes/silla.png");
        }
      });
    }

    var arrayImagenes = document.querySelectorAll("#asientosDisponibles img");
    console.log(arrayImagenes);

    for (var j = 0; j < arrayImagenes.length; j++) {
      arrayImagenes[j].onclick = function() {
        var checkbox = this.previousElementSibling;
        if (!checkbox.disabled) {
            checkbox.checked = !checkbox.checked; // Cambiar el estado de la casilla
            checkbox.dispatchEvent(new Event('change')); // Disparar el evento change manualmente
        }
      };
    }
  });
</script>


</head>
<body>
<div class="container">

  <div class="row align-items-start">
    <div class="row">
        <div class="col rounded float-start  m-5"><h1 style="font-family: Arial Black; font-weight: bold; font-size: 60px; color: #b392ac; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">Concierto de {{ evento.nombre }}</h1></div>
      <div class="col rounded float-end"><img class="col rounded float-end m-5" src="{{ evento.imagen.url }}" height="230"/></div>
    </div>
  </div>

    <div class="row">

        <div class="col">
              <!-- Agrega un enlace para descargar el PDF -->
            <a href="{% url 'generar_pdf' %}?evento_id={{ evento.id }}">Generar PDF</a>
            <p></p>
        <h3>Escoge una zona: </h3>
        <form method="get">
            {% for z in zonas %}
                {{ zonita }}
                {{ forloop.counter }}
                {% if zonita == forloop.counter %}
                    <input type="radio" id="zona{{ forloop.counter }}" name="zona" value="{{ forloop.counter }}" checked>
                {% else %}
                    <input type="radio" id="zona{{ forloop.counter }}" name="zona" value="{{ forloop.counter }}" >
                {% endif %}
                <label for="zona{{ forloop.counter }}">{{z.zona.nombre}} ({{z.precio}}€)</label><br>
            {% endfor %}
            <p></p>
            <button class="btn btn-info mb-3" type="submit">Ver asientos</button>
        </form>




        <div>
        <form  enctype="multipart/form-data" method="get">

            {% csrf_token %}
            {{ form.as_p }}

            <table id="asientosDisponibles">
                <tr>
        {% for a in asientos %}
                    <td>
                    {% if a.estado == False %}
                    <input type="checkbox" id="{{a.id}}" name="{{a.id}}" value="{{a.id}}">
                        <img src="/main/imagenes/silla.png" width="50" height="50" />
                    {% else %}
                     <input type="checkbox" id="{{a.id}}" name="{{a.id}}" value="{{a.id}}" disabled>
                    <img src="/main/imagenes/deshabilitada.png" width="50" height="50" />
                    {% endif %}
                        <br/>
                    <label class=" m-2" for="{{a.id}}">{{ a.asiento.nombre }}</label>
                    </td>
                {% if forloop.counter|divisibleby:4 %}
                </tr>
                <tr>
                {% endif %}

        {% endfor %}
                </tr>
             </table>
                </div>
            </div>

            <div class="col">
            <div class="card">
            <div class="card-body" style="background-color: #b392ac;">

                <h5 class="card-subtitle">Fecha:</h5>
                <p>{{ evento.fecha_hora }}</p>
                <hr/>
                <p class="card-text">Sala: {{ evento.sala.nombre }}.</p>
                <hr/>
              {% if evento.disponibles == 0 %}
                <p class="alert alert-danger">Entradas no disponibles</p>
              {% else %}
                <p><b>Entradas disponibles:</b> {{ zonaElegida.disponibles }} uds.</p>

                    <label style="font-weight: bold;">Uds: </label>
                    <input style="background-color: transparent; border: none;" type="number" id="unidades" name="unidades" value=0 readonly><br/>
                    <label style="font-weight: bold;">Entrada(€): </label>
                    <input style="background-color: transparent; border: none;" type="text" id="precio_entrada" name="precio_entrada" value="{{zonaElegida.precio}}"  readonly ><br/>
                    <label style="font-weight: bold;">Total(€): </label>
                    <input style="background-color: transparent; border: none;" type="text" id="precio" name="precio" value=0 step="any" readonly >
                    <input type="number" id="zonita" name="zonita" value="{{zonita}}" readonly style="display: none;"><br/>
                    <p></p>
              <button href="{% url 'paypal' %}" class="btn btn-success" name="boton" type="submit">Comprar</button>
        </form>
              {% endif %}
            </div>
        </div>
    </div>
</div>


</div>
</body>
{% endblock %}
</html>