{% extends 'base.html' %}
<html>
    {% block content %}
    <table class="table table-info table-bordered mb-5">
        <h3 class="text-center">DATOS DE USUARIO:</h3>
        {% for z in perfil %}
        <tr>
            <td>Dni: {{ z.dni }}</td>
            <td>Direccion: {{ z.direccion }}</td>
            <td><button style="border: none;"><a class="btn btn-primary" id="editar" href="#" role="button">Editar</a></button></td>
        </tr>
        {% endfor %}
    </table>

    <!--<table class="table table-info table-bordered mb-5">
        <h3 class="text-center">MIS COMPRAS:</h3>
        {% for x in compras %}
        <tr>
            <td>Fecha: {{ x.fecha }}</td>
            <td>Total: {{ x.total }}</td>
            <td><button style="border: none;"><a class="btn btn-info" id="compraDetalle" href="{% url 'compraDetalle' pk=x.id %}" role="button">ver detalle</a></button></td>
        </tr>
        {% endfor %}
    </table> -->

    <table class="table table-info table-bordered mb-5">
        <h3 class="text-center">METODOS DE PAGO:</h3>
        <tr><button style="border: none;"><a class="btn btn-success mb-3" id="insertar1" href="#" role="button">Añadir Metodo de pago</a></button></tr>
        {% for x in pago %}
        <tr>
            <td>{{ x.metodo_pago }}</td>
            <td>{{ x.num_tarjeta }}</td>
            <td><div class="btn-group" role="group">
            <button style="border: none;"><a class="btn btn-primary" id="editar1" href="#" role="button">Editar</a></button>
            <button style="border: none;"><a class="btn btn-danger" id="eliminar1" href="#" role="button">Eliminar</a></button>
            </div></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
</html>
