{% extends 'base.html' %}

{% block content %}

    <p></p>
        <style>
            #midiv {
            background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
            }
        </style>
    <div id="midiv" class="col-sm-5 bg-light p-3 border offset-3">
         <h4>Introducir precios por zona. Evento: {{evento.nombre}}</h4>
        <p></p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for x in zonaEvento %}
        <label for="{{x.id}}">{{x.zona.nombre}}</label>
        <input type="number" id="{{x.id}}" name="{{x.id}}" step="any" required>
        {% endfor %}
        <p></p>
        <button class="btn btn-info" name="boton" type="submit">Guardar precios</button>
    </form>
    </div>
{% endblock %}