{% extends 'base.html' %}
<html>
{% block content %}
    <table class="table table-info table-bordered mb-5">
        <h3 class="text-center">TOP 5 CLIENTES:</h3>

        {% for x in cliente %}
        <tr>
            <td>Usuario: {{ x.usuario_id }}</td>
            <td>Nº compras: {{ x.nCompras }}</td>
            <td>Importe total: {{ x.total }}</td>
            <td><button style="border: none;"><a class="btn btn-info" id="compraDetalle" href="{% url 'compraDetalle' x.id %}" role="button">ver detalle</a></button></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</html>